@model IEnumerable<WebSite.Models.WorkList>

@{
    ViewData["Title"] = "Index";
}

<h2>Список</h2>

<p>
    <a asp-action="Create" asp-route-id="1">Добавить (руск.)</a>
    <a asp-action="Create" asp-route-id="2">Добавить (кырг.)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Termine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Termine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resume.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
